.main
{
    background-color: darkolivegreen;
    color: orangered;
    text-align: center;
    width: 100%;
    
    height: 200px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color: darkturquoise;}
    to {background-color: darkolivegreen;}
  }
h1
{
    padding-top: 35px;
    margin: 0px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
body
{
    margin: 0px;
}
#t1
{
    background-color: tomato;
    color: wheat;
}
tr:hover
{
    background-color: teal;
}
#t2
{
    background-color: red;
}
.footer
{
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding-top:5px ;
    padding-bottom: 5px;
}
img
{
    width: 100%;
    height: 370px;
}
#fill
{
    background-color: rgb(28, 51, 73);
}
h2
{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
h3
{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
